.Slider-Component{
    width: 100%;
    padding:40px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    height:340px;
    border-radius: 10px;
    background-color:white;
    text-align: center;    
    font-size: xx-large;

}
